body {
  font-family: "Raleway", sans-serif;
}

/* Sección de Inicio */

#inicio {
  background-image: url("../img/portada.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Estilos h3 y h2 */
h3, h2 {
  color: rgb(15, 83, 202)
}

/* Estilo de íconos */
i{
  color: rgb(15, 83, 202)
}

/* Estilo de sección de planes */
#planes {
  background-color: rgb(15, 83, 202)
}

/* Contacto */

#contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #contacto form label {
    font-weight: 400;
  }

}
